source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget

strategy: min
storage: none
framework: net461, netstandard2.0

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget FSharp.Data
nuget WebSharper.Reactive prerelease
nuget WebSharper.UI prerelease
nuget HtmlAgilityPack 1.11.0
nuget System.Net.Http 4.3.2
nuget Microsoft.NETCore.Platforms 1.1.0
nuget WebSharper.ChartJs prerelease
nuget WebSharper.Charting prerelease
nuget FSharp.Core ~> 4.3.4

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool
