version 5.142.0
source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget

storage: none
framework: net461

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget FSharp.Data
nuget WebSharper.Reactive prerelease
nuget WebSharper.UI prerelease
nuget WebSharper.ChartJs prerelease
nuget WebSharper.Charting prerelease
nuget FSharp.Core ~> 4.2.0

group build
    framework: net45
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget Paket.Core 5.141.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script