source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget

strategy: min
storage: none
framework: netstandard2.0, net5.0

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget FSharp.Data
nuget WebSharper.Reactive prerelease
nuget WebSharper.UI prerelease
nuget WebSharper.ChartJs prerelease
nuget WebSharper.Charting prerelease
nuget FSharp.Core 5.0.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool
